@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.simplebar-scrollbar::before {
  background-color: red;
}

.simplebar-scrollbar.simplebar-visible::before {
  background-color: red;
}
.simplebar-track{
  /* margin-top: 200px; */
}